.sidebar{
    width: 19%;
    position: sticky;
    top: 80px;
    z-index: 50;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    scroll-behavior: smooth;
}
.sidebar::-webkit-scrollbar{
    width: 8px !important;
    border-radius: 50% !important;
}
.sidebar::-webkit-scrollbar-track{
    background-color:#0f0f0f !important;
    
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: #0f0f0f !important;
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background-color: gray !important;
    
}

.sidebar hr{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(70, 66, 66);
    height: .5px;
    border: none;
}
.sidebar-heading{
    color: #fff;
    margin: 11px 0 10px 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
.sidebar .footer{
    color: #b9b5b5;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.sidebar .footer p{
    margin-bottom: 3px;
}
