.subscription-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    cursor: pointer;
    padding: 10px 5px;
    width: 210px;
    margin-bottom: 3px;

}

.subscription-row:hover {
    background-color: #2f2d2d;
    border-radius: 10px;

}

.subscription-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscription-left a{
    text-decoration: none;
}


.channel-logo {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    object-fit: contain;

}

.subscription-right {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.live-img {
    width: 18px;
    height: 18px;

}

.channel-name {
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    color: #fff;
}
